@import '../styles/constants.scss';
@import '../../styles/image-style.scss';

.team-header {
    margin-top: 200px !important; 
    font-weight: bold
}

.team-top-section {
    // only on medium screens or larger
    width: 70%;
}

.team-section-title {
    font-weight: bold;
}

.team-member-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid $hackbeanpot-navy;
}

.team-member-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $hackbeanpot-navy;

    &:hover {
        opacity: 0.5;
    }
}
