.about-item {
  display: flex;
  justify-content: space-evenly;

  &.right {
    flex-direction: row-reverse;
  }

  &:not(:last-child) {
    margin-bottom: 100px;
  }
}

.about-item__img {
  width: 100%;
}

.about-item__title {
  @include h4-text;
}

.about-item__content {
}

.about-item__description {
  margin-bottom: 50px;
}

.about-item__cta {
  @include primary-cta;
}
