.about-item{
  /* About */
  position: relative;

  background: linear-gradient(180deg, #386A3F 3.65%, #0C4124 57.29%, #102137 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: fit-content ;
}

.about-title{
  position: relative;
  font-size: 56px;
  padding-left: 7vw;
  padding-top: 5%;
  padding-bottom: 2vw;
  line-height: 1.4em;
  color: #CFE8E8;
  mix-blend-mode: normal;

  @media (max-width: $sm) {
    font-size: 35px;
    padding-left: 0;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.about-paragraph {
  color: #CFE8E8;
  width: 30vw;
  @media (max-width: $sm){
    width: revert;
    padding-top: 5%;
    padding-left: 13vw;
    padding-right: 13vw;
  }
}

.about-footsteps{
  width: 30vw;
  @media (max-width: $sm){
    display: none;
  }
}

.about-content{
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  @media (max-width: $sm){
    justify-content: center;
  }
}

.about-arrow{
  height: 1vw;
  width: 1vw;
}
