.slideshow{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  //position: relative;
}

.arrow {
  height: 40px;
  color: #AAEAC8;
  cursor: pointer;
}


