.packet {
  position: relative;
  overflow-x: hidden;
  margin: 50px;
}

.packet-cover {
  @include bottom-padding;
  position: relative;
}

.cloud-background {
  position: relative;
  width: 50%;
}

.cloud-text {
  position: absolute;
  top: 210px;
  left: 75px;
  width: 50%;
}

.build-row {
  display: inline-flex;
}

.engage-row {
  display: inline-flex;
}

.recruit-row {
  display: inline-flex;
}

div[class^="package-component-build-"] {
  background: #F7CEC2;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}

div[class^="package-component-engage-"] {
  background: #FFED8E;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}

div[class^="package-component-recruit-"] {
  background: #D0FFFF;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}
