.packet {
  position: relative;
  overflow-x: hidden;
  color: #eeeeee;
  background: #142434 url("../images/svg/packet-background.svg") no-repeat;
}

.packet-cover {
  position: relative;
  background-size: 100% 100%;
}

/* Packet cover section CSS */

.intro-div {
  margin-left: 150px;
  margin-bottom: 200px;
}

.intro-title {
  font-size: 72px;
  font-weight: bold;
}

.intro-text {
  font-size: 32px;
  width: 50%;
}

.packet-blurb {
  margin-left: 40%;
  width: 52%;
  margin-bottom: 200px;
}

.packet-title {
  font-size: 72px;
  font-weight: bold;
}

.packet-text {
  font-size: 32px;
  width: 100%;
}

.email {
  color: inherit;
  font-weight: bold;
}

/* Packet struct section CSS*/
.packet-struct {
  @include bottom-padding;
  position: relative;
  background-size: 100% 100%;
}

.base-box {
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  background: #eeeeee;
  border-radius: 20px;
  padding: 10px;
  width: 669px;
  margin-left: 290px;
}

.base-box-price-check {
  display: flex;
  justify-content: space-between;
}

div[class*="-headline"] {
  margin: 10px 0 10px 192px;
  font-weight: bold;
  font-size: 48px;
  display: inline-block;
  vertical-align: middle;
}


div[class*='circle'] {
  margin-right: 48px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-size: 48px;
  line-height: 65.47px;
}

.base-circle {
  background-color: #ffffff;
  color: #1B365D;
}

.build-circle {
  background-color: #E56138;
}

.engage-circle {
  background-color: #CCAD0D;
}

.recruit-circle {
  background-color: #52C2C2;
}

div[class*="-opt-out-button"] {
  display: inline-block;
  margin-left: 40px;
  background-color: #B4EBEB;
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
  font-size: 18px;
  color: black;
  &:hover {
    cursor: pointer;
  }
}

div[class*="-row"] {
  margin-left: 290px;
  display: flex;
}

/* Package Component (ie. one box for a trail tier) CSS */

div[class^="package-component-"] {
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  color: #000000;
}

div[class^="package-component-build-"] {
  background: #F7CEC2;
}

div[class^="package-component-engage-"] {
  background: #FFED8E;
}

div[class^="package-component-recruit-"] {
  background: #D0FFFF;
}

div[class*="-top-line"]{
  display: flex;
  justify-content: space-between;
}

ul[class^="list-"] {
  font-weight: normal;
  font-size: 18px;
}

/* Footer */
.footer-total-list {
  padding-right: 250px;
}

div[class*="-line"] {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.running-total-div {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

p[class^="footer-list-type"] {
  margin-right: 160px;
}

.send-selection-div {
  text-align: center;
}

.get-in-touch-text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.send-selection-button {
  border-radius: 40px;
  background: #B4EBEB;
  font-size: 24px;
  color: black;
  padding: 23px 0 23px 40px;

  &:hover {
    cursor: pointer;
  }
}

.selection-arrow {
  margin-right: 29px;
  margin-left: 22px;
  width: 33px;
  height: 28px;
}
