// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

$font-body: 'Nunito Sans', Arial, Helvetica, sans-serif;
$dosis: 'Dosis', sans-serif;

// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

// Primary
$charles-river-blue: #4384e1;
$hbp-navy: #1b365d;
$packet-dark-blue: #142434;
$midnight: #102037;

$pale-blue: #b4ebeb;
$hbp-blue: #a4dbe8;
$mist: #52a1b4;
$hbp-packet-blue: #52c2c2;

$sprout-green: #70e0a3;

$camp-burnt-red: #953621;
$camp-orange: #e56138;
$camp-yellow: #f5d340;
$camp-packet-light-yellow: #ffed8e;
$camp-packet-yellow: #ccad0d;
$camp-grass-green: #386a3f;
$camp-packet-light-red: #f89f84;
$camp-pale-blue: #cdffff;
$camp-packet-pale-blue: #d0ffff;

$not-so-dark-green: #7ac09a;
$dark-green: #439a6b;
$darker-green: #205538;

$yellow-green-disabled: #f0fda3;
$yellow-green: #e0f36d;
$yellow-green-hover: #cae339;

// Secondary
$purple-disabled: #aab4fe;
$purple: #5461c8;
$purple-hover: #3e4793;

$yellow-disabled: #ffed8e;
$yellow: #fbdd40;
$yellow-hover: #dac036;

$pale-red: #f7cec2;
$red-disabled: #ffbbba;
$red: #ff6d6a;
$red-hover: #9b403e;

$white: #ffffff;
$grey: #eeeeee;
$dark-grey: #a1a1a1;
$black: #000000;

// ---------------------------------------------------------------------------
// BREAKPOINTS
// ---------------------------------------------------------------------------

$xxs: 380px;
$xs: 450px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;

// ---------------------------------------------------------------------------
// LAYOUT
// ---------------------------------------------------------------------------
$navbar-height: 4.5em;
