// ---------------------------------------------------------------------------
// FONTS
// ---------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');

$font-body: 'Nunito Sans', Arial, Helvetica, sans-serif;
// $font-mono:

// ---------------------------------------------------------------------------
// COLORS
// ---------------------------------------------------------------------------

// Primary
$charles-river-blue: #4384e1;
$hbp-navy: #1b365d;
$midnight: #102037;

$pale-blue: #e8fafe;
$hbp-blue: #a4dbe8;
$mist: #52a1b4;

$sprout-green-light: #bbffda;
$sprout-green: #70e0a3;
$sprout-green-dark: #417859;

$not-so-dark-green: #7ac09a;
$dark-green: #439a6b;
$darker-green: #205538;

$yellow-green-disabled: #f0fda3;
$yellow-green: #e0f36d;
$yellow-green-hover: #cae339;

// Secondary
$purple-disabled: #aab4fe;
$purple: #5461c8;
$purple-hover: #3e4793;

$yellow-disabled: #ffed8e;
$yellow: #fbdd40;
$yellow-hover: #dac036;

$red-disabled: #ffbbba;
$red: #ff6d6a;
$red-hover: #9b403e;

$white: #ffffff;
$grey: #eeeeee;
$dark-grey: #a1a1a1;

// ---------------------------------------------------------------------------
// BREAKPOINTS
// ---------------------------------------------------------------------------

$xxs: 380px;
$xs: 450px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;
