// This file is only used to define any Constants for colors, fonts, etc

// fonts
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Nunito:300,400,700');

$font-family: 'Nunito', sans-serif; //use on most of website
$logo-font-family: 'Dosis', sans-serif; //use exclusively for logo type

////////////// COLORS 2020 //////////////
// primay colors 2020
//
// dark text, dark backgrounds, logos
$charles-river-blue: #4384e1;
$hackbeanpot-navy: #1b365d;
$midnight: #102037;
//
// light text, light backgrounds
$pale-blue: #e8fafe;
$hackbeanpot-blue: #a4dbe8;
$mist: #52a1b4;
//
// accent color for bg, logos
$sprout-green-light: #bbffda;
$sprout-green: #70e0a3;
$sprout-green-dark: #417859;
//
// accent color for bg
$not-so-dark-green: #7ac09a;
$dark-green: #439a6b;
$darker-green: #205538;
//
// call to action
$yellow-green-disabled: #f0fda3;
$yellow-green: #e0f36d;
$yellow-green-hover: #cae339;

// secondary 2020
$purple-disabled: #aab4fe;
$purple: #5461c8;
$purple-hover: #3e4793;

$yellow-disabled: #ffed8e;
$yellow: #fbdd40;
$yellow-hover: #dac036;

$red-disabled: #ffbbba;
$red: #ff6d6a;
$red-hover: #9b403e;

$white: #ffffff;
$grey: #eeeeee;
$dark-hover: #a1a1a1;

////////////// COLORS 2019 //////////////
// colors 2019
$navy: #1b365d; //text color on light bg, secondary bg color
$gray: #eeeeee; //text color on dark bg, primary bg color
$light-blue: #a4dbe8; //details for dark background, illustrations
$teal: #25c9d0; //details for light background, circuit illustrations, links
$yellow: #fad20a; //call to action button
$purple: #5461c8;
$green: #70e0a3;

// font sizes
$large-title: 44px;
$med-title: 32px;
$subtitle: 24px;
$large-body: 20px;
$small-body: 16px;

// fonts, both have 400 and 700 weights
$dosis: 'Dosis', sans-serif;
$nunito: 'Nunito', sans-serif;
