// This file is only used to define any Constants for colors, fonts, etc

// fonts
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Nunito:300,400,700');

$font-family: 'Nunito', sans-serif; //use on most of website
$logo-font-family: 'Dosis', sans-serif; //use exclusively for logo type

// colors
$navy: #1b365d; //text color on light bg, secondary bg color
$gray: #eeeeee; //text color on dark bg, primary bg color
$light-blue: #a4dbe8; //details for dark background, illustrations
$teal: #25c9d0; //details for light background, circuit illustrations
$yellow: #fbdd40; //call to action button

// font sizes
$title: 32px;
$subtitle: 24px;
$large-body: 20px;
$small-body: 16px;

// fonts, both have 400 and 700 weights
$dosis: 'Dosis', sans-serif;
$nunito: 'Nunito', sans-serif;
