.footer {
  @include padding;
  @include grey-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

.footer__logo {
  width: 150px;
  height: auto;
  margin-bottom: 25px;

  @media (min-width: $md) {
    margin-right: 80px;
    margin-bottom: 0;
  }

  @media (min-width: $lg) {
    width: 200px;
  }
}

.footer__content {
  width: 70%;
  text-align: center;

  @media (min-width: $sm) {
    width: 50%;
  }

  @media (min-width: $md) {
    width: 300px;
    text-align: left;
  }
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $md) {
    margin-left: 0;
    width: 90%;
  }
}

.footer__social-link {
  color: $hbp-navy;
  transition: color 0.2s ease;
}

.footer__coc-link {
  color: $hbp-packet-blue;
  transition: color 0.2s ease;
}
