/* Styles for the site footer*/
.footer {
  p {
    margin: 0;
  }
  padding: 50px 0;
}

.footer-cta {
  @media (max-width: 1024px) {
    margin-top: 30px;
  }
}

.logo-small {
  width: 150px;
}

.icon-small {
  color: white;
  width: 50px;
  height: 50px;
  padding: 5px;
  vertical-align: middle;
}

.footer-heading {
  @include h4-text;
  color: $sprout-green;
  overflow: hidden;
}

.coc {
  margin-top: 150px;
  margin-bottom: 75px;
}

.coc ul {
  list-style-type: disc;
}

.coc-header {
  @include h2-text;
  margin: 25px 0;
}
