// The main style file for all shared styles

@charset "UTF-8";
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '/constants.scss';

// Import styles for pages
@import '../pages/stories/stories.scss';
@import '../pages/sponsors/sponsors.scss';
@import '/home.scss';

// Import styles for components
@import '../components/aboutItem/about-item.scss';
@import '../components/countdownClock/countdown-clock.scss';
@import '/nav.scss';
@import '/footer.scss';

* {
  font-family: $nunito;
  position: relative;
  z-index: 20;
}

a {
  color: $teal;
}

a:hover {
  color: $teal;
  opacity: 0.6;
  text-decoration: none;
}

img {
  border-radius: 10px;
}

body {
  background-color: $gray;
}

// SECTIONS
.logo-div {
  font-family: $logo-font-family;
}

.light-background {
  background-color: $gray;
  color: $navy;
  overflow: hidden;
}

.light-blue-background {
  background-color: $light-blue;
  color: $navy;
  overflow: hidden;
}

.teal-background {
  background-color: $teal;
  color: $navy;
  overflow: hidden;
}

.dark-background {
  background-color: $navy;
  color: $gray;
  overflow: hidden;
}

// BUTTONS
.yellow-btn {
  color: white;
  background-color: $yellow;
  border-style: none;
  font-weight: 700;
  transition-duration: 0.2s;
}

.yellow-btn:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
  background-color: #f9de57;
}

.lg-btn {
  font-size: $large-body;
  padding: 10px 40px;
  border-radius: 50px;
}

.md-btn {
  font-size: $small-body;
  padding: 8px 20px;
  border-radius: 50px;
}

// GENERAL
.center-text {
  text-align: center;
}

.center-h-v {
  display: flex;
  align-items: center;
  justify-content: center;
}

// NAV BAR
.custom-nav {
  margin: 0 !important;
  @media (max-width: 1024px) {
    margin: 0 !important;
    display: block;
  }
}
