// This file is only used to define any Constants 
// if you want to define re-usable classes and such
// please take a look at constants.scss

// fonts
$font-family: 'Nunito', sans-serif; //use on most of website
$logo-font-family: 'Dosis', sans-serif; //use exclusively for logo type

// colors
$navy: #1B365D; //text color on light bg, secondary bg color
$gray: #EEEEEE; //text color on dark bg, primary bg color
$light-blue: #A4DBE8; //details for dark background, illustrations
$teal: #25C9D0; //details for light background, circuit illustrations
$yellow: #FBDD40; //call to action button