.home {
}

// HEADER
.header {
  @include pale-blue-bg;
  position: relative;
}

.header__skyline {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__content {
  margin-bottom: 30px;
  margin: 300px 0 200px 60%;
}

.header__title {
  @include h1-text;
  margin-bottom: 30px;
}

.header__description {
  @include large-body-text;
  margin-bottom: 30px;
}

.header__cta {
  @include primary-cta;
}

// THEME
.theme-announcement {
  @include pale-blue-bg;
  @include top-padding;
  @include bottom-padding;
}

.theme__title {
  @include h3-text;
  @include bottom-margin;
}

.theme__sprout {
  @include h2-text;
  @include bottom-margin;
}

// ABOUT
.about {
  @include sprout-green-bg;
  @include top-padding;
  @include bottom-padding;
}

.about__title {
  @include h2-text;
  @include bottom-margin;
}

// FAQ
.faq {
  @include pale-blue-bg;
  @include top-padding;
  @include bottom-padding;
}

.faq__title {
  @include h2-text;
  @include bottom-margin;
}

.faq__cta-group {
  text-align: center;
}

.faq__cta-label {
  @include large-body-text;
  margin-bottom: 30px;
}

.faq__cta {
  @include primary-cta;
}

// SPONSORS
.home-sponsors {
  @include yellow-green-bg;
  @include top-padding;
  @include bottom-padding;
  position: relative;
}

.home-sponsors__circuit {
  position: absolute;
  width: 400px;
  top: -3%;
  left: 60%;

  svg {
    width: 100%;
  }
}

.home-sponsors__title {
  @include h2-text;
  @include bottom-margin;
}

.home-sponsors__content {
  width: 45%;
  margin-bottom: 40px;
}

.home-sponsors__cta-group {
  display: flex;
  align-items: center;
}

.home-sponsors__cta {
  @include secondary-cta;
  margin-right: 20px;
}

.home-sponsors__cta-link {
  font-weight: 700;

  &:hover {
    text-decoration: none;
  }
}
