// HEADER
.landing-section {
  height: fit-content;
  align-items: center;
  margin-top: 175px;
  margin-bottom: 250px;
  @media (max-width: 1024px) {
    margin-bottom: 50px;
    padding-bottom: 20px;
  }
}

.mobile-logo {
  display: none;
}

.hero-logo {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  @media (max-width: 767px) {
    display: none;
  }
}

.header {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-content {
  margin-bottom: 30px;
}

.header-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.5;
  @media (max-width: 1024px) {
    font-size: 60px;
  }
}

.header-text {
  width: 80%;
  font-size: $large-body;
  @media (max-width: 1024px) {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .mobile-logo {
    display: block;
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .header-content {
    display: flex;
    flex-wrap: wrap;
  }

  .logo-div {
    order: 1;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .header-title {
    float: right;
    font-size: $med-title;
  }

  .header-text {
    order: 2;
  }
}

// ABOUT
.about-section {
  height: fit-content;
  margin-top: 100px;
  margin-bottom: 200px;
  @media (max-width: 1024px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.about-title {
  font-size: $large-title;
  font-weight: 700;
  margin-bottom: 50px;
  @media (max-width: 1024px) {
    font-size: $med-title;
  }
}

// FAQ
.faq-section {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.faq-title {
  font-size: $large-title;
  padding-left: 1%;
  font-weight: 700;
  margin-bottom: 50px;
  @media only screen and (max-width: 600px) {
  }
}

.faq-button-title {
  font-size: $med-title;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 70px;
}

.faq-masonry-element {
  width: 48%;
  margin-bottom: 40px;
  padding-left: 1%;
  padding-right: 1%;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.faq-element-question {
  font-size: $subtitle;
  font-weight: 700;
  margin-bottom: 5px;
  height: auto;
}

.faq-element-answer {
  font-size: $small-body;
  height: auto;
  padding: 15px 30px;
  border-radius: 10px;
  margin: 0;

  a {
    color: $teal;
    text-decoration: none;
  }
}

.sponsors-section {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .sponsors-title {
    font-size: $large-title;
    font-weight: 700;
    margin-bottom: 50px;
    @media (max-width: 1024px) {
      font-size: $med-title;
    }
  }

  .sponsor-header {
    font-size: 35px;
    padding-top: 15px;
    line-height: 1.5;
  }

  .sponsor {
    align-content: center;
    transition-duration: 0.3s;

    height: 120px;
    width: 100%;
    overflow: hidden;

    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 992px) {
      height: auto;
    }
  }

  .sponsor-square {
    height: 225px;
    @media (max-width: 992px) {
      height: auto;
    }
  }

  .sponsor:hover {
    transform: scale(1.05);
  }

  .intuit-logo {
    height: 200px;
    position: relative;
    top: -50px;
    @media (max-width: 992px) {
      height: 130px;
      top: 0;
    }
  }

  .sponsor-image {
    height: 100px;
    width: auto;
    @media (max-width: 992px) {
      height: auto;
      width: 80%;
    }
  }

  .sponsor-image-wide {
    height: auto;
    width: 100%;
  }

  .sponsor-square-image {
    height: 200px;
    @media (max-width: 992px) {
      height: auto;
      width: 50%;
    }
  }

  .in-kind-sponsors {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .in-kind-heading {
    line-height: 1.5;
  }
}

// home images
.home {
  .common-image {
    position: absolute;
    z-index: 10;
    @media (max-width: 1024px) {
      width: 50vh;
    }
  }

  .logo-small {
    background-color: $navy;
    width: 100%;
  }

  //light blue blob 1
  .home-blob-1 {
    right: -75px;
    top: -150px;
    @media (max-width: 1024px) {
      top: -200px;
    }
  }

  //bean blob 1
  .home-blob-2 {
    left: -150px;
    top: 150px;
    @media (max-width: 1024px) {
      top: 200px;
      display: none;
    }
  }

  //green blob
  .home-blob-3 {
    right: -225px;
    top: 1000px;
    @media (max-width: 1024px) {
      top: 1250px;
      right: -290px;
    }
  }

  //purple blob
  .home-blob-4 {
    left: -100px;
    top: 1650px;
    @media (max-width: 1024px) {
      top: 1900px;
      left: -220px;
    }
  }

  //bean blob 2
  .home-blob-5 {
    right: 0;
    top: 2450px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  //light blue blob 2
  .home-blob-6 {
    right: -150px;
    bottom: 1400px;
    // bottom: 1050px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .circuit1 {
    left: 15%;
    top: 1750px;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .circuit2 {
    transform: rotate(90deg) scaleX(-1);
    left: 70%;
    top: 450px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}
