@charset "UTF-8";

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '../pages/stories/stories.scss';
@import '/constants.scss';

.landing-section {
  height: 100vh;
}

.hero-logo {
  height: 75%;
  width: 50%;
  float: left;
}

.icon {
  height: 50px;
  width: 50px;
}

.about-section {
  /* Placeholder */
}

.align-left-img {
  float: left;
  height: 40%;
  width: 40%;
}

.align-right-img {
  float: right;
  height: 40%;
  width: 40%;
}

.faq-section {
  clear: both;
  background: #d3d3d3;
}

.sponsors-section {
  /* Placeholder */
}

.sponsor {
  height: 20%;
  width: 20%;
}
