@charset "UTF-8";

@import './normalize.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';

// Global helpers
@import './_constants.scss';
@import './_mixins-typography.scss';
@import './_mixins-helpers.scss';
@import './_mixins-spacing.scss';
@import './global.scss';

// Pages
@import '../pages/404/404.scss';
@import '../pages/stories/stories.scss';
@import '../pages/sponsors/sponsors.scss';
@import './home.scss';

// Components
@import '../components/aboutItem/about-item.scss';
@import '../components/faqItems/faq-items.scss';
@import '../components/countdownClock/countdown-clock.scss';
@import './nav.scss';
@import './footer.scss';
