@charset "UTF-8";

// Vendor
@import './normalize.scss';
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import './flickity.scss';

// Global helpers
@import './_constants.scss';
@import './_mixins-typography.scss';
@import './_mixins-helpers.scss';
@import './_mixins-spacing.scss';

// Components
@import '../components/aboutItem/about-item.scss';
@import '../components/faqItems/faq-items.scss';
@import './nav.scss';
@import './footer.scss';

// Pages
@import '../pages/404/404.scss';
@import '../pages/code-of-conduct/code-of-conduct.scss';
@import '../pages/stories/stories.scss';
@import '../pages/sponsors/sponsors.scss';
@import '../pages/team/team.scss';
@import './home.scss';

@import './global.scss';
