.navbar {
  background: transparent !important;
  padding-top: 20px;
  z-index: 50;
  position: absolute;
  flex-flow: row nowrap !important;
  justify-content: flex-start !important;
  @media (min-width: 576px) {
    padding-left: 50px;
  }
}

.navbar-logo {
  width: 50px;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  color: $navy !important;
  font-size: 18px;
  font-weight: 600;
  transition-duration: 0.3s;
}

.nav-link:hover {
  transform: rotate(-7deg);
}
