.nav,
.nav-mobile {
  @include drop-shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 100;
}

.nav__logo {
  width: 50px;

  svg {
    width: 100%;
    height: auto;
  }

  .opened & {
    padding: 3px;
  }
}

// ---------------------------------------------------------------------------
// Desktop Nav
// ---------------------------------------------------------------------------

.nav {
  display: none;
  padding: 10px 30px;

  @media (min-width: $md) {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  margin-bottom: 0;
  margin-left: auto;
}

.nav__item {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.nav__link {
  @include body-text;
  font-weight: 700;

  &:hover {
    color: $hbp-navy;
    border-bottom: 2px solid $hbp-navy;
    margin-bottom: -2px;
    text-decoration: none;
  }
}

// ---------------------------------------------------------------------------
// Mobile Nav
// ---------------------------------------------------------------------------

.nav-mobile {
  display: block;

  &.opened {
    height: 100vh;
    background-color: $hbp-navy;
    overflow-y: hidden;
  }

  @media (min-width: $md) {
    display: none;
  }
}

.nav-mobile__top {
  @include padding;
  display: flex;
  justify-content: space-between;

  .closed & {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav-mobile__toggle-btn {
  width: 50px;

  > .close-icon {
    color: $white;
  }

  > .menu-icon {
    color: $hbp-navy;
  }
}

.nav-mobile__item {
  margin: 20px 0;
  background-color: $hbp-navy;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $yellow-green-disabled;
  }
}

.nav-mobile__link {
  @include h4-text($white);
  display: inline-block;
  width: 100%;
  padding: 10px 40px;
  color: background-color 0.2s ease;

  &:hover {
    color: $hbp-navy;
    text-decoration: none;
  }
}
