@import '../styles/constants.scss';
@import '../../styles/image-style.scss';

.stories-title {
  text-align: left;
  font-size: $large-title;
  font-weight: 600;
  padding-top: 200px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-top: 150px;
  }
}

.stories-section-header {
  font-size: $large-title;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-top: 50px;
  }
}

.stories-tell {
  margin-bottom: 150px;
}

.stories-tell-quote {
  padding-top: 50px;
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.stories-welcome {
  padding-bottom: 100px;
}

.stories-cta {
  text-align: left;
  font-size: $large-body;
  margin-bottom: 100px;
}

.stories-quote {
  padding-top: 50px;
  font-size: $large-body;
}

.stories-quote-from {
  padding-top: 25px;
  font-weight: 600;
}

.stories-round-image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: $light-blue;
  border-radius: 300px;
  border: solid 5px $gray;
  transition: 0.5s;
  @media (max-width: 767px) {
    width: 100px;
    height: 100px;
  }
}

.stories-round-image-large {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border-style: none !important;
  @media (max-width: 767px) {
    margin: auto;
    margin-top: 50px;
  }
}

.hide-small {
  @media (max-width: 767px) {
    display: none;
  }
}

.stories-round-image:hover {
  border: solid 5px $yellow;
}

.portrait {
  width: 215px;
  height: auto;
  @media (max-width: 767px) {
    width: 100px;
  }
}

.portrait-large {
  width: 450px;
  height: auto;
}

.stories-button-title {
  font-size: $med-title;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 50px;
}

.quote-box {
  margin: 50px 150px 50px 100px;
  font-size: $large-body;
  @media (max-width: 1024px) {
    margin: 30px 10px;
  }
}

.noClick {
  pointer-events: none;
}

.center {
  margin: auto;
}

.top-images {
  padding-right: 25%;
  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.bottom-images {
  padding-left: 25%;
  @media (max-width: 1024px) {
    padding-left: 0;
  }
}
