@import '../styles/constants.scss';
@import '../../styles/image-style.scss';

.stories__title {
  @include h2-text;
  text-align: left;
  font-weight: 600;
  padding-top: 200px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-top: 150px;
  }
}

.stories-section-header {
  @include h2-text($white);
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-top: 50px;
  }
}

.stories-tell {
  margin-bottom: 150px;
}

.stories-tell-quote {
  @include bottom-padding;
  padding-top: 50px;
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.stories-welcome {
  @include pale-blue-bg;
  padding-bottom: 100px;
}

.stories__description {
  @include large-body-text;
  text-align: left;
  margin-bottom: 100px;
}

.stories-quote {
  @include large-body-text($white);
}

.stories-quote-from {
  margin-top: 30px;
  font-weight: 600;
}

.stories-round-image {
  cursor: pointer;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 300px;
  border: solid 1px $charles-river-blue;
  transition: 0.5s;
  @media (max-width: 767px) {
    width: 100px;
    height: 100px;
  }

  .stories-round-image img {
    display: block;
  }
}

.stories-round-image__selected {
  border: solid 5px $charles-river-blue;
  transform: scale(1.25);
}


.hide-small {
  @media (max-width: 767px) {
    display: none;
  }
}


.portrait {
  width: 215px;
  height: auto;
  @media (max-width: 767px) {
    width: 100px;
  }
}

.stories-tell-section {
  @include top-margin;
  @include charles-river-blue-bg;
  border-radius: 0px !important;
}

.portrait-large {
  width: 450px;
  height: auto;
}

.stories-cta__title {
  @include h3-text($white);
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 50px;
}

.stories-cta {
  @include primary-cta;
}

.quote-box-container {
  margin: 50px 200px 50px 100px;
  @media (max-width: 1024px) {
    margin: 30px 10px;
  }
}

.quote-box {
  @include charles-river-blue-bg;
  @include large-body-text($white);
  border-radius: 10px;
  padding: 20px 30px;
}

.noClick {
  pointer-events: none;
}

.center {
  margin: auto;
}

.top-images {
  padding-right: 25%;
  @media (max-width: 767px) {
    padding-right: 0;
  }
}

.bottom-images {
  padding-left: 25%;
  @media (max-width: 1024px) {
    padding-left: 0;
  }
}
