// ---------------------------------------------------------------------------
// Stories
// ---------------------------------------------------------------------------

.stories__header {
  @include pale-blue-bg;
  @include bottom-padding;
  padding-top: 200px;
}

.stories__pattern {
  position: absolute;
  width: 110%;
  min-width: $xl;
  top: 0;
  top: -10%;
  left: 0;
  opacity: 0.05;
}

.stories__title {
  @include h1-text;
}

.stories__description {
  @include large-body-text;
  width: 100%;

  @media (min-width: $md) {
    width: 60%;
  }
}

// ---------------------------------------------------------------------------
// Stories Component
// ---------------------------------------------------------------------------

.stories-circles {
  position: relative;
  margin: 150px 50px;
  display: none;

  @media (min-width: $md) {
    display: block;
  }
}

.stories-circles__top {
  display: flex;
  padding-right: 25%;
  @media (max-width: 1024px) {
    padding-right: 0;
  }
}

.stories-circles__bottom {
  display: flex;
  padding-left: 25%;
  @media (max-width: 1024px) {
    padding-left: 0;
  }
}

.stories-circles__img-container {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border: solid 2px transparent;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;

  &:hover {
    border: solid 2px $hbp-blue;
  }

  &.selected {
    border: solid 5px $hbp-blue;
    transform: scale(1.25);

    img {
      filter: grayscale(0%);
    }

    @media (max-width: $md) {
      @include bottom-margin;
    }
  }
}

.stories-circles__img {
  width: 215px;
  height: auto;
  filter: grayscale(100%);
}
// ---------------------------------------------------------------------------
// Quote
// ---------------------------------------------------------------------------

.quote {
  margin: 70px auto;
  max-width: 600px;

  @media (max-width: $md) {
    width: 80%;
    margin: auto;
  }
}

.quote-box {
  @include charles-river-blue-bg;
  @include body-text($white);
  border-radius: 10px;
  padding: 20px 30px;
  pointer-events: none;
  @include drop-shadow;
}

.quote__attribution {
  @include body-text;
  font-weight: bold;
  margin-top: 20px;
}

.quote__role {
  font-weight: normal;
}

// ---------------------------------------------------------------------------
// "We've got a story to tell" Section
// ---------------------------------------------------------------------------

.stories-tell {
  @include top-padding;
  @include bottom-padding;
  @include charles-river-blue-bg;
}

.stories-tell__heading {
  @include h2-text($white);
  margin-bottom: 50px;
}

.stories-tell__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $md) {
    flex-direction: row;
  }
}

.stories-tell__desc-cta {
  width: 100%;
  margin-bottom: 50px;

  @media (min-width: $md) {
    width: 50%;
    margin-bottom: 0;
  }
}

.stories-tell__description {
  @include body-text($white);
  margin-bottom: 50px;
}

.stories-tell__img-container {
  width: 100%;

  @media (min-width: $md) {
    width: 40%;
  }
}

.stories-tell__img {
  width: 100%;
  height: auto;
}

.stories-tell__cta {
  @include primary-cta;
}

.center {
  margin: auto;
}

// ---------------------------------------------------------------------------
// Stories Mobile
// ---------------------------------------------------------------------------

.stories-carousel {
  @include top-margin;
  @include bottom-margin;
  display: block;

  @media (min-width: $md) {
    display: none;
  }

  .flickity-page-dots .dot.is-selected {
    background-color: $hbp-navy;
  }
}

.stories-carousel-cell {
  width: 100%;
  height: auto;

  .stories-circles__img-container {
    margin: auto;
    border: solid 5px $hbp-blue;

    img {
      filter: grayscale(0%);
    }
  }

  .quote {
    margin: auto;
    margin-top: 30px;
  }
}
