// -------------------------------------------------
// Sponsor Header
// -------------------------------------------------

.sponsors {
  position: relative;
  overflow-x: hidden;
}

.sponsors-vines {
  position: absolute;
  right: -100px;
  top: -50px;
  z-index: 1;
  opacity: 0.8;

  svg {
    width: 85%;
  }

  @media (max-width: $lg) {
    display: none;
  }
}

.sponsors-header {
  @include dark-green-bg;
  @include bottom-padding;
  padding-top: 200px;
  position: relative;
}

.sponsors-header__title {
  @include h1-text($white);
  margin-bottom: 30px;
}

.sponsors-header__description {
  @include large-body-text($white);
  width: 100%;

  @media (min-width: $lg) {
    width: 70%;
  }
}

.sponsors-header__ps {
  @include body-text($white);
  margin: 40px 0;
  font-style: italic;
}

.sponsors__cta {
  @include primary-cta;
}

// -------------------------------------------------
// Sponsor Perks Section
// -------------------------------------------------

.sponsorship-model {
  @include pale-blue-bg;
  @include top-padding;
  @include bottom-padding;
}

.sponsorship-model__title,
.sponsors-list__title {
  @include h2-text($hbp-navy);
  margin-bottom: 50px;
}

.sponsorship-model__description {
  width: 100%;
  margin-bottom: 50px;

  @media (min-width: $md) {
    width: 70%;
  }
}

.sponsorship-model__subtitle {
  @include h4-text($hbp-navy);
  padding-bottom: 25px;
}

.sponsorship-model__cta-group {
  text-align: center;
}

.sponsorship-model__cta-label {
  @include large-body-text;
  font-weight: 700;
  margin-bottom: 30px;
}

.sponsorship-model__cta {
  @include primary-cta;
}

.sponsorship-model__pattern {
  position: absolute;
  width: 110%;
  min-width: $xl;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
  z-index: 2;
  opacity: 0.1;
}

// -------------------------------------------------
// Sponsor Kits
// -------------------------------------------------

.sponsor-kits {
  @include bottom-margin;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $md) {
    display: none;
  }
}

.sponsor-kits-carousel {
  @include top-margin;
  display: block;
  margin-bottom: 100px;

  @media (min-width: $md) {
    display: none;
  }

  .flickity-page-dots .dot.is-selected {
    background-color: $hbp-navy;
  }
}

.sponsor-kit {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $md) {
    width: 28%;
  }
}

.sponsor-kit__icon {
  width: 100%;

  svg {
    display: block;
    width: 80%;
    margin: auto;
  }
}

.sponsor-kit__title {
  @include h5-text($hbp-navy);
  margin: 30px 0;
  text-align: left;

  @media (max-width: $md) {
    text-align: center;
  }
}

.sponsor-kit__description {
  @include body-text;

  @media (max-width: $md) {
    text-align: center;
  }
}

// -------------------------------------------------
// 2019 SPONSORS
// -------------------------------------------------

.sponsors-list {
  @include yellow-green-bg;
  @include top-padding;
  @include bottom-padding;
}

.sponsor {
  margin-bottom: 40px;
}

.sponsors-list__logos {
  @media (max-width: 1024px) {
    text-align: center;
  }

  .sponsor-header {
    font-size: 35px;
    padding-top: 15px;
    line-height: 1.5;
  }

  .sponsor {
    align-content: center;
    transition-duration: 0.3s;
    overflow: hidden;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sponsor:hover {
    @media (min-width: 992px) {
      transform: scale(1.02);
    }
  }

  .catalant-logo {
    width: 60%;
    @media (max-width: 992px) {
      width: 80%;
    }
  }

  .med-sponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;

    @media (max-width: 992px) {
      text-align: center;
    }

    .md-sponsor-image-wide {
      width: 350px;
      height: auto;
      margin-top: 40px;
      @media (max-width: 992px) {
        width: 60%;
      }
    }

    .md-sponsor-image-tall {
      width: auto;
      height: 250px;
      @media (max-width: 992px) {
        height: auto;
        width: 60%;
      }
    }
  }

  .small-sponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .sm-sponsor-image-wide {
      width: 250px;
      height: auto;
      @media (max-width: 992px) {
        width: 150px;
      }
    }

    .sm-sponsor-image-square {
      width: auto;
      height: 150px;
      @media (max-width: 992px) {
        height: 100px;
      }
    }
  }

  .in-kind-sponsors {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .in-kind-heading {
    line-height: 1.5;
  }

  .in-kind-sponsor-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .in-kind-sponsor-image-wide {
      width: 250px;
      height: auto;
      @media (max-width: 992px) {
        width: 200px;
      }
    }

    .in-kind-sponsor-image-square {
      width: auto;
      height: 100px;
      @media (max-width: 992px) {
        height: 80px;
      }
    }
  }
}
