@import '../../styles/constants.scss';

.sponsor-welcome {
  margin-top: 100px;
  margin-bottom: 175px;
  overflow: visible;
  @media (max-width: 1024px) {
    margin-bottom: 100px;
  }
}

.sponsor-perks {
  padding-bottom: 50px;
}

.sponsor-cta {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 0;
  text-align: left;
  font-size: $large-body;
  color: $navy;
}

.sponsor-title {
  text-align: left;
  font-size: $large-title;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }
}

.sponsor-subtitle {
  font-size: $med-title;
  font-weight: 600;
  padding-bottom: 25px;
  display: inline-block;
  padding-left: 25px;
}

.sponsor-section-header {
  font-size: $large-title;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }
}

.sponsor-button {
  background-color: $yellow;
  color: white;
  padding: 10px 40px;
  border-radius: 33px;
  border-style: none;
  font-size: $large-body;
}

.sponsor-button-center {
  margin: 0 auto;
  display: block;
  width: 250px;
  text-align: center;
}

.sponsor-perk-cta {
  font-size: $large-body;
  padding-bottom: 50px;
}

.sponsor-level {
  padding-bottom: 50px;
}

.sponsor-level-row {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: $large-body;
}

.sponsor-level-quote {
  color: $light-blue;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
}

.sponsor-level-credit {
  font-weight: bold;
  text-align: right;
}

.sponsor-level-description {
  @media (max-width: 1024px) {
    padding-bottom: 30px;
  }
}

// images
.sponsorship {
  .yellow-btn {
    margin-bottom: 30px;
  }

  .inspire-icon {
    height: 90px;
    .cls-1 {
      fill: #fbdd40;
    }
    .cls-2 {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }

  .grow-icon {
    height: 90px;
    .cls-1 {
      fill: #70e0a3;
    }
    .cls-2 {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 1.89px;
    }
  }

  .recruit-icon {
    height: 90px;
    .cls-1 {
      fill: #25c9d0;
    }
    .cls-2 {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
    }
  }

  @import '../../styles/image-style.scss';
}
