.faq-sizer,
.faq-item {
  width: 100%;

  @media (min-width: $md) {
    width: 45%;
  }
}

.faq-gutter-sizer {
  width: 0;

  @media (min-width: $md) {
    width: 5%;
  }
}

.faq-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

  @media (min-width: $md) {
    margin-bottom: 60px;
  }
}

.faq-item__leaf {
  margin-right: 20px;
  svg {
    width: 30px;
  }
}

.faq-item__question {
  @include h5-text($white);
}
