#clock {
  margin-top: 7px;
}

.countdown-block {
  display: inline-block;
  width: 20%;
}

.countdown-num {
  display: inline-block;
  text-align: center;
  color: white;
  border-radius: 25px;
  background: #70E0A3;
  font-size: 56px; // TODO: Style these
  width: 100%;
}

.countdown-text {
  font-size: 18px;
  color: #1B365D;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.countdown-colon {
  display: inline-block;
  //width: 100%;
  font-size: 40px;
  font-weight: 800;
  bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}